nav a:hover {
  color: #3b2626;
}
h1 {
  color: #e4a002;
  font-family: 'Quicksand', quicksand, sans-serif;
  text-align: center;
}

p {
  color: #4e3636;
  font-size: 21px;
  line-height: 1.5;
}

body {
  background-color: #ffcc3f;
  margin: 0;
  padding: 20px;
}
.content-wrapper {

    padding: 20px; 
    
    max-width: 1200px;
    margin: 0 auto; 
    
    box-sizing: border-box;}
    img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
    }